<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ page_title }}</title>
    <meta name="description" content="Documentation for {{ project_title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
        html.light {
            /* prettier-ignore */
            --primary-color: {{ themes.light.main }};
        }

        html.dark {
            /* prettier-ignore */
            --primary-color: {{ themes.dark.main }};
        }
    </style>

    {{{ header }}}

    <script>
        var DOCGEN_TIMESTAMP = "{{ timestamp }}";
        var BASE_PATH = "{{ base_path }}";

        function setColor() {
            const color = localStorage.getItem("docgen-color");
            const syntectElement = document.querySelector(`[href*="syntect_"]`);

            if (color === "dark") {
                if (syntectElement) syntectElement.setAttribute("href", "{{ base_path }}assets/{{ syntect_dark_theme }}")
                document.documentElement.classList.remove("light");
                document.documentElement.classList.add("dark");
            } else {
                if (syntectElement) syntectElement.setAttribute("href", "{{ base_path }}assets/{{ syntect_light_theme }}")

                document.documentElement.classList.remove("dark");
                document.documentElement.classList.add("light");
            }
        }

        setColor();
    </script>

    {{#if head_include }}
    {{{ head_include }}}
    {{/if}}
</head>

<body>
    <label for='menu-toggle-switch' class='menu-toggle-button'>
        ☰
    </label>
    <input type="checkbox" id="menu-toggle-switch" value='0' />
    <div class='page'>
        <div class='header'>
            <div class='logo'>
                {{#if logo }}
                <a href="{{ base_path }}">
                    <img src="{{ base_path }}{{ logo }}" alt='{{ project_title }} logo'></img>
                </a>
                {{/if}}
                <h2 class='project-name'>
                    <a href="{{ base_path }}">
                        {{ project_title }}
                    </a>
                </h2>
            </div>
            <div class='search'>
                <form id='search-form'>
                    <input type='text' id='search-box' autocomplete="off" placeholder="Search..." />
                    <span class='search-icon'>S</span>
                    <ul id='search-results'></ul>
                </form>
            </div>
            <div class='header-dummy-right'>
            </div>
        </div>
        <div class='container'>
            <div class='sidebar-left'>
                {{> navigation links=navigation current_page=current_page }}
            </div>
            <div class='docgen-content'>
                {{{ content }}}
            </div>
            <div class='sidebar-right'>
                <div class='page-nav' id='page-nav'>
                    <p class='page-nav-header'>On this page</p>
                    <ul>
                        {{#each headings}}
                        <li class='page-nav-level-{{this.level}}'>
                            <a href='#{{this.anchor}}'>{{this.title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{{ footer }}}

    {{#if (eq build_mode "dev") }}
    <script>
        // Don't reset scrolling on livereload
        window.addEventListener('scroll', function () {
            localStorage.setItem('docgen-scrollPosition', window.scrollY);

            dragRightMenu();
        }, false);

        window.addEventListener('load', function () {
            if (localStorage.getItem('docgen-scrollPosition') !== null)
                window.scrollTo(0, localStorage.getItem('docgen-scrollPosition'));

            document.getElementById('menu-toggle-switch').addEventListener('change', function (e) {
                disableScrollifMenuOpen();
            });
        }, false);
    </script>
    {{/if}}
</body>

</html>